# Node.js
node_modules/
npm-debug.log

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Firebase and service account key
serviceAccountKey.json

# Miscellaneous
.DS_Store
*.pem
