# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Firebase admin SDK keys
/path-to-your-firebase-adminsdk.json

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# IDE and editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
